<!DOCTYPE html>
<html>
  <body background="/universities-list/src/assets/uni.png">
    <h1 class="header-cls">LIST OF UNIVERSITY AND COLLEGE</h1>
    <p>Select the state to get the university/college list</p>
    <div class="txt-head">
      <div>
        <select class="select-cls" (change)="onStateChange($event)">
          <option disabled selected value="">Please select the state</option>
          <option *ngFor="let data of stateList">
            {{ data }}
          </option>
        </select>
      </div>
    </div>
    <ol style="list-style-type: none">
      <li *ngFor="let innerArray of finalResult">
        <ol>
          <li *ngFor="let item of innerArray" class="list_styl">
            {{ item }}
          </li>
        </ol>
      </li>
    </ol>
  </body>
</html>
