body {
  height: 100vh;
  background-color: beige;
}

.select-cls {
  width: 300px;
  height: 48px;
  font-size: 15px;
  text-align: center;
}

.header-cls {
  text-align: center;
  padding-top: 60px;
  background-color: cornflowerblue;
  padding-bottom: 60px;
  animation: header;
  animation-duration: 2s;
}

.txt-head {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

option:first {
  color: #999;
}

.list_styl {
  padding-left: 20px;
  padding-bottom: 10px;
}

p {
  display: flex;
  justify-content: center;
}

@keyframes header {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
